extends layout

append head
  link(rel='stylesheet', href='/css/client.css')
  script(src='/socket.io/socket.io.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/client_1.js')
block body
  .navbar.navbar-fixed-top
    .navbar-inner
        ul.nav.pull-right 
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown').currentLineWidth
              i.icon-circle(style='font-size: 8pt;')
            ul.dropdown-menu.lineWidth 
              li
                a(href='#',lineWidth='2')
                  i.icon-circle(style='font-size: 2pt;')
              li
                a(href='#',lineWidth='8')
                  i.icon-circle(style='font-size: 8pt;')
              li
                a(href='#',lineWidth='15')
                  i.icon-circle(style='font-size: 12pt;')
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown').currentLineColor
              i.icon-tint.icon-large
            ul.dropdown-menu.lineColor
              li
                a(href='#',lineColor='black')
                  i.icon-tint.icon-large(style='color: black;')
              li
                a(href='#',lineColor='red')
                  i.icon-tint.icon-large(style='color: red;')
              li
                a(href='#',lineColor='yellow')
                  i.icon-tint.icon-large(style='color: yellow;')
              li
                a(href='#',lineColor='blue')
                  i.icon-tint.icon-large(style='color: blue;')
              li
                a(href='#',lineColor='green')
                  i.icon-tint.icon-large(style='color: green;')
          li.divider-vertical
          li
            a(href='#')
              i.icon-save.icon-large
          li
            a(href='#')
              i.icon-refresh.icon-large
  canvas#canvas
