doctype 5
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            title= title
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            script(src='http://code.jquery.com/jquery.js')
    body
        block body